body {
  background-color: #b4cfad;
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: 2.5rem;
  color: #4caf50;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin-top: 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  row-gap: 1rem;
}

.header__author {
  text-decoration: none;
  color: inherit;
}

.header__author:hover {
  text-decoration: underline;
  color: #515251;
}

.mode-selection {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.btn {
  padding: 1rem 2rem;
  border-radius: 5px;
  border: none;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #37833a;
}

.btn:active {
  background-color: #2e6d2e;
}

.footer {
  display: flex;
  flex-direction: column;
}

.setting,
.continue,
.results {
  margin-top: 1.5rem;
  background-color: #1c701f;
  padding: 1rem 4rem;
}
