:root {
  --bg-color: #f5f5f5;
  --text-color: #333;
  --ui-color: #ffffff;
  --interactive-color: #e0e0e0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

p {
  margin: 0.5rem 0rem;
}
h1 {
  font-size: 3.5rem;
}

h2 {
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin-top: 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  row-gap: 1rem;
}

.header__author {
  text-decoration: none;
  color: inherit;
}

.header__author:hover {
  text-decoration: underline;
  color: #515251;
}

.mode-selection {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.btn {
  padding: 1rem 2rem;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #87a788;
}

.btn:active {
  background-color: #2e6d2e;
}

.footer {
  display: flex;
  flex-direction: column;
}

.setting,
.continue,
.results {
  margin-top: 1.5rem;
  background-color: #1c701f;
  padding: 1rem 4rem;
}

// Settings
.options__wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.description {
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.theme__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sound__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sound-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
}

.options {
  margin-top: 3rem;
}

.halloween-btn {
  margin-top: 0.5rem;
}

.sound__description {
  flex-direction: column;
}

.back {
  margin-top: 1.5rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  border: 0;
  cursor: pointer;
}

.default {
  margin-top: 1.5rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  border: 0;
  cursor: pointer;
}

.game-header {
  margin-top: 1rem;
  padding: 0 10px;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.game-title {
  font-size: 1rem;
}

.game-btn {
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;

  @media (max-width: 600px) {
    padding: 0.2rem 1rem;
  }
}

.btn-container {
  display: flex;
  gap: 0.5rem;

  @media (max-width: 600px) {
    flex-direction: column;
    gap: 0.2rem;
  }
}

.timer {
  display: flex;
  column-gap: 0.5rem;
}

.board {
  max-width: 1440px;
  margin: 2.5rem auto;
  margin-top: 1rem;
  padding: 20px 20px;
  display: grid;
  grid-template-columns: repeat(9, minmax(5px, 120px));
  gap: 2rem;
  justify-content: center;
  grid-auto-rows: minmax(5px, 90px);

  @media (max-width: 700px) {
    gap: 1rem;
  }

  @media (max-width: 500px) {
    gap: 0.4rem;
  }
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--ui-color);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cell:hover {
  background-color: #87a788;
}

.cell:active {
  background-color: #2e6d2e;
}

.game-footer {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: start;
  bottom: 0;
}
